<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet" type="text/css">
    <title>{{ site.title }} | {{page.title}}</title>
</head>
<body>
    
    <header>
       <div class="wrap">
                {% include header.html %}
      </div>
    </header>
    
    
   {{content}} 

   <script src="'https://fonts.googleapis.com/css?family=Open+Sans&display=swap'" crossorigin="anonymous"></script>
</body>
</html>