---
layout: default
---
<div class="page">
    <ul>
            {% for cat in site.categories %}
            <li>
                    {% assign cat_name = cat[0] %}
                    <div class="Projects">
                            <h1>{{ cat_name }}</h1>
                            <ul>
                                    {% for post in site.categories[cat_name] %}
                                    <li>
                                            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - 
                                            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                                            <p>{{ post.content |truncatehtml | truncatewords: 60 }}</p>
                                    </li>
                                    {% endfor %}
                            </ul>
                    </div>
            </li>
            {% endfor %}
    </ul>
</div>